MONGO_USERNAME="username"
MONGO_PASSWORD="password"
MONGO_CLUSTER="cluster"
DB_NAME="db-name"

# MONGO_USERNAME="sedc_g2"
# MONGO_PASSWORD="fqVm6gIcpC5XHGW6"
# MONGO_CLUSTER="cluster0.3y9yiup.mongodb.net"
# DB_NAME="football"

PORT=3000
HOSTNAME="localhost"